<!--
    THIS EXAMPLE WAS DOWNLOADED FROM https://echarts.apache.org/examples/zh/editor.html?c=gauge-temperature
-->
<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
    </head>
	<link rel="stylesheet" href="../../component/pear/css/pear.css" />
	<link rel="stylesheet" href="../../admin/css/other/result.css" />
    <body class="pear-container" >
		<div class="layui-row layui-col-space40" >
			<div class="layui-col-md4">
				<div class="layui-card">
					<div class="layui-card-body">
						<div id="container" style="min-height:400px;" ></div>
					</div>
				</div>
			</div>
			<div class="layui-col-md7">
				<div class="layui-card">
					<div class="layui-card-body">
						<div id="line" style="min-height:400px;"></div>
					</div>
				</div>
			</div>
		</div>
				
				
		
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
		<script src="../../component/layui/layui.js"></script>
		<script src="../../component/pear/pear.js"></script>


        <script type="text/javascript" src="gui.js">


        </script>
    </body>
</html>
    