<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../../component/pear/css/pear.css" />
		<link rel="stylesheet" href="../../admin/css/other/result.css" />
	</head>
	<body class="pear-container">
		<div class="layui-row layui-col-space10">
			<div class="layui-card">
				<div class="layui-card-header">
					<h2 class="title">开关控制面板</h2>
				</div>
				<div class="layui-card-body">
					<div id="now">
						
					</div>
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
		<script src="MqttX.js"></script>
	</body>
</html>
